body{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 90vh;
}
.container{
    width: 450px;
}

#progress .times,
.card-footer,
.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-container i {
    margin-right: 8px;
}

.music-list-select{
    cursor: pointer;
}
li.playing{
    background-color: #0b5eb7;
    color: white;
}